$primary-background-color: #0e0e0e;
$modal-background-color: #fff2fd;
$search-fields-background-color: rgba(255, 255, 255, 0.2);

$pink-text-color: #dc56c5;
$white-text-color: #ffffff;
$black-text-color: #000000;
$secondary-text-color: #939393;

// buy tickets button
$buy-btn-background-color: #4c00fe;
$buy-btn-hover-color: #2e009a;

// show more info button
$more-btn-background-color: #fff2fd;
$more-btn-border-color: #4c00fe;
$more-btn-text-color: #4c00fe;
$more-btn-hover-color: #dc56c5;

// font family
$font-family: 'Montserrat', sans-serif;
