<footer class="page-footer" id="footer">
  <div class="container inner">
    <div class="pagination">
      <a class="link" href="#">1</a>
      <a class="link" href="#">2</a>
      <a class="link" href="#">3</a>
      <a class="link" href="#">4</a>
      <a class="link" href="#">5</a>
      <a class="link" href="#">...</a>
      <a class="link" href="#">29</a>
    </div>
    <!-- <div class="socials-container">
      <ul class="socials-net list">
        <li class="net-item">
          <a class="link-net bordo-link" href="#">
            <svg class="github-net">
              <use href="#"></use>
            </svg>
          </a>
        </li>
        <li class="net-item">
          <a class="link-net bordo-link" href="#">
            <svg class="telegram-net">
              <use href="#"></use>
            </svg>
          </a>
        </li>
        <li class="net-item">
          <a class="link-net bordo-link" href="#">
            <svg class="facebook-net">
              <use href="#"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div> -->
  </div>
</footer>
<div class="post-footer">
  <p class="copy">© 2021 | All Rights Reserved | Developed with ♥ by GoIT Students</p>
</div>
