<footer class="page-footer" id="footer">
  <div class="container inner">
    <div class="pagination">
      <a class="link link--current" href="#1">1</a>
      <a class="link" href="#2">2</a>
      <a class="link" href="#3">3</a>
      <a class="link" href="#4">4</a>
      <a class="link" href="#5">5</a>
      <span class="ellipsis">&hellip;</span>
      <a class="link" href="#29">29</a>
    </div>
  </div>
  <p class="copy">© 2021 | All Rights Reserved | Developed with ❤️ by GoIT Students</p>
</footer>
