.site-header {
  position: relative;
  padding: 0;
  margin: 0;
  height: 364px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media screen and (min-device-pixel-ratio: 1),
    screen and (min-resolution: 96dpi),
    screen and (min-resolution: 1dppx) {
    background-image: linear-gradient(to right, rgba(11, 11, 11, 0.5), rgba(11, 11, 11, 0.5)),
      url(../images/mobile/bg_mobile@1x.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, rgba(11, 11, 11, 0.5), rgba(11, 11, 11, 0.5)),
      url(../images/mobile/bg_mobile@2x.jpg);
  }

  @media screen and (min-device-pixel-ratio: 3),
    screen and (min-resolution: 288dpi),
    screen and (min-resolution: 3dppx) {
    background-image: linear-gradient(to right, rgba(11, 11, 11, 0.5), rgba(11, 11, 11, 0.5)),
      url(../images/mobile/bg_mobile@3x.jpg);
  }

  @media screen and (min-width: $tablet) {
    @media screen and (min-device-pixel-ratio: 1),
      screen and (min-resolution: 96dpi),
      screen and (min-resolution: 1dppx) {
      background-image: linear-gradient(to right, rgba(11, 11, 11, 0.5), rgba(11, 11, 11, 0.5)),
        url(../images/tablet/bg_tablet@1x.jpg);
    }

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(11, 11, 11, 0.5), rgba(11, 11, 11, 0.5)),
        url(../images/tablet/bg_tablet@2x.jpg);
    }

    @media screen and (min-device-pixel-ratio: 3),
      screen and (min-resolution: 288dpi),
      screen and (min-resolution: 3dppx) {
      background-image: linear-gradient(to right, rgba(11, 11, 11, 0.5), rgba(11, 11, 11, 0.5)),
        url(../images/tablet/bg_tablet@3x.jpg);
    }
  }

  @media screen and (min-width: $desktop) {
    @media screen and (min-device-pixel-ratio: 1),
      screen and (min-resolution: 96dpi),
      screen and (min-resolution: 1dppx) {
      background-image: linear-gradient(to right, rgba(11, 11, 11, 0.5), rgba(11, 11, 11, 0.5)),
        url(../images/desktop/bg_desktop@1x.jpg);
    }

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(11, 11, 11, 0.5), rgba(11, 11, 11, 0.5)),
        url(../images/desktop/bg_desktop@2x.jpg);
    }

    @media screen and (min-device-pixel-ratio: 3),
      screen and (min-resolution: 288dpi),
      screen and (min-resolution: 3dppx) {
      background-image: linear-gradient(to right, rgba(11, 11, 11, 0.5), rgba(11, 11, 11, 0.5)),
        url(../images/desktop/bg_desktop@3x.jpg);
    }
  }
}

.main-title {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  padding-top: 78px;
  max-width: 212px;

  font-weight: 900;
  font-size: 18px;
  line-height: 1.22;
  text-transform: uppercase;
  text-align: center;
  color: $pink-text-color;

  @media screen and (min-width: $tablet) {
    padding-top: 40px;
    max-width: 353px;

    font-size: 30px;
  }

  @media screen and (min-width: $desktop) {
    max-width: 590px;

    font-size: 50px;
  }
}

.logo-container {
  position: absolute;
  width: 107px;
  height: 90px;
  background-image: linear-gradient(
      136.07deg,
      rgba(196, 196, 196, 0.03) 10.75%,
      rgba(196, 196, 196, 0) 92.33%
    ),
    url(../images/icons/logo.svg);
  backdrop-filter: blur(30px);
  border-radius: 0 0 90px;

  @media screen and (min-width: $tablet) {
    width: 180px;
    height: 151px;
    background-image: linear-gradient(
        136.07deg,
        rgba(196, 196, 196, 0.03) 10.75%,
        rgba(196, 196, 196, 0) 92.33%
      ),
      url(../images/icons/logo_tablet.svg);
    border-radius: 0 0 151px;
  }

  @media screen and (min-width: $desktop) {
    width: 239px;
    height: 201px;
    background-image: linear-gradient(
        136.07deg,
        rgba(196, 196, 196, 0.03) 10.75%,
        rgba(196, 196, 196, 0) 92.33%
      ),
      url(../images/icons/logo_desktop.svg);
    border-radius: 0 0 201px;
  }
}
